{% extends "base.html" %}
{% block page_content %}
<div class="tabs">
    <ul>
        <li class=""><a href="/">Home</a></li>
        <li class="is-active"><a href="{{ url_for('scan') }}">Check In</a></li>
        <li class=""><a href="{{ url_for('list_registrants') }}">Participants</a></li>
        <li class=""><a href="/admin">Admin Page</a></li>
    </ul>
</div>
<section class="section">
    <div class="container">
        <div class="box">
        <div class="has-text-centered">
            <span class="icon is-large">
                <i class="fas fa-barcode fa-4x"></i>
            </span><br>
            <h1 class="title">Check In</h1>
        </div>
        <br>
        <div class="columns">
            <div class="column is-half is-offset-3">
                <div class="field">
                    <div class="control">
                        <form>
                            <input class="input is-rounded is-medium is-danger"
                                   id="regcode"
                                   name="regcode"
                                   hx-swap="innerHTML"
                                   hx-target="#registrant-table"
                                   hx-trigger="keyup changed delay:500ms"
                                   hx-post="{{ url_for('check_registrant_code') }}"
                                   placeholder="Scan barcode or enter the registration code" autofocus/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column" id="registrant-table">
                {% if register %}
                    <div class="has-text-centered">
                        <span class="icon is-large">
                            <i class="fas fa-check-circle has-text-success fa-3x"></i>
                        </span><br>
                        <span class="subtitle">Succeeded!</span>
                    </div>
                    <table class="table is-fullwidth">
                        <thead>
                        <th>Code</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Latest Check In</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{register.regcode}}</td>
                            <td>{{register.participant.firstname}}</td>
                            <td>{{register.participant.lastname}}</td>
                            <td>{{register.participant.email}}</td>
                            <td>{{register.participant.mobile}}</td>
                            <td>{{register.checkins[-1].checked_at|timezoned}}</td>
                            <td>
                                <a class="button is-danger"
                                   href="{url_for('cancel_checkin', checkin_id=checkin.id, next=request.url)}">
                                    Cancel
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
    <script>
    document.addEventListener('htmx:afterSwap', function (event) {
        $('#regcode').val('')
    })
    </script>
{% endblock %}
