{% extends "base.html" %}
{% block page_content %}
<div class="tabs">
    <ul>
        <li class=""><a href="/">Home</a></li>
        <li class="is-active"><a href="{{ url_for('scan') }}">Check In</a></li>
        <li class=""><a href="{{ url_for('list_registrants') }}">Participants</a></li>
    </ul>
</div>
<section class="section">
    <div class="container">
        {% include "flashes.html" %}
        <div class="box">
        <div class="has-text-centered">
            <h1 class="title">Welcome to National Health Workforce Development Conference 2025</h1>
            <span class="icon is-large">
                <i class="far fa-user fa-4x" id="account-icon"></i>
            </span><br>
            <h1 class="subtitle">Check In Service</h1>
        </div>
        <br>
        <div class="columns">
            <div class="column is-half is-offset-3">
                <div class="field">
                    <div class="control">
                        <form>
                            <input class="input is-rounded is-medium is-danger"
                                   id="regcode"
                                   name="name"
                                   hx-swap="innerHTML"
                                   hx-target="#registrant-table"
                                   hx-trigger="keyup changed delay:900ms"
                                   hx-post="{{ url_for('search_registrant_name') }}"
                                   placeholder="Search registrant by first or last name" autofocus/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column" id="registrant-table">
                {% if register %}
                    <div class="has-text-centered">
                        <span class="icon is-large">
                            <i class="fas fa-check-circle has-text-success fa-3x"></i>
                        </span><br>
                        <span class="subtitle">Succeeded!</span>
                    </div>
                    <table class="table is-fullwidth">
                        <thead>
                        <th>Code</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Latest Check In</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{register.regcode}}</td>
                            <td>{{register.participant.firstname}}</td>
                            <td>{{register.participant.lastname}}</td>
                            <td>{{register.participant.email}}</td>
                            <td>{{register.participant.mobile}}</td>
                            <td>{{register.checkins[-1].checked_at|timezoned}}</td>
                            <td>
                                <a class="button is-danger"
                                   href="{url_for('cancel_checkin', checkin_id=checkin.id, next=request.url)}">
                                    Cancel
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="box">
        <table class="table" id="stat">
            <tbody>
            <tr>
                <td><strong>Total Registrants</strong></td>
                <td>{{ total_registrants }}</td>
            </tr>
            <tr>
                <td><strong>Checked In {{ today }}</strong></td>
                {% if total_registrants %}
                <td>{{ total_check_ins }} ({{ "%.2f"|format(total_check_ins/total_registrants*100.0) }}%)</td>
                {% else %}
                <td>{{ total_check_ins }}</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
    <script>
    document.addEventListener('htmx:afterSwap', function (event) {
        htmx.removeClass(htmx.find('#account-icon'), 'fa-pulse')
    })
    document.addEventListener('htmx:beforeSend', function (event) {
        htmx.addClass(htmx.find('#account-icon'), 'fa-pulse')
    })
    </script>
{% endblock %}
