เรียน ผู้ลงทะเบียนเข้าร่วมการประชุมวิชาการประจำปีระดับชาติ "การพัฒนาการศึกษาสำหรับบุคลากรด้านสุขภาพ" ครั้งที่ 5

ตามที่ท่านได้ลงทะเบียนเข้าร่วมการประชุมวิชาการประจำปีระดับชาติ การพัฒนาการศึกษาสำหรับบุคลากรด้านสุขภาพ ครั้งที่ 5 ภายใต้หัวข้อหลัก “ผนึกพลังภาคี ปฏิรูประบบสุขภาพ (Synergizing Partners: The key for Health Systems Reform)” ระหว่างวันที่ 12 -13 พฤศจิกายน 2561 ณ โรงแรม เซนทารา แกรนด์ และบางกอกคอนเวนชัน เซ็นเตอร์ แอท เซ็นทรัลเวิลด์ กรุงเทพฯ นั้น

มูลนิธิพัฒนาการศึกษาบุคลากรสุขภาพแห่งชาติ (ศสช.) ขอส่งรหัสสำหรับผู้เข้าร่วมมายังท่าน(Barcode)
*กรุณาแสดง Barcode ณ จุดลงทะเบียน เพื่อเข้าร่วมงาน

ขอขอบพระคุณที่ท่านให้ความสนใจ
