{% extends "base.html" %}
{% block page_content %}
<div class="tabs">
    <ul>
        <li class="is-active"><a href="/">Home</a></li>
        <li class=""><a href="{{ url_for('scan') }}">Check In</a></li>
        <li class=""><a href="{{ url_for('list') }}">Participants</a></li>
        <li class=""><a href="{{ url_for('add_participant') }}">Register</a></li>
        <li class=""><a href="/admin">Admin Page</a></li>
    </ul>
</div>
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered has-text-info">ANHPERF Registration System</h1>
        <div class="columns">
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <a href="{{ url_for('scan') }}" class="title is-size-4">
                        <span class="icon is-large">
                            <i class="fas fa-barcode fa-2x"></i>
                        </span>
                        <br>
                        <span>Check In</span>
                    </a><br>แสกน barcode เพื่อลงทะเบียนเข้างาน
                </div>
            </div>
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <a href="{{url_for('list')}}" class="title is-size-4">
                        <span class="icon is-large">
                            <i class="far fa-address-book fa-2x"></i>
                        </span>
                        <br>
                        <span>Participants</span>
                    </a><br>รายชื่อผู้เข้าร่วมงานประชุม
                </div>
            </div>
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <a href="{{ url_for('add_participant') }}" class="title is-size-4">
                        <span class="icon is-large">
                            <i class="fas fa-user-plus fa-2x"></i>
                        </span>
                        <br>
                        <span>Register</span>
                    </a><br>ลงทะเบียนผู้เข้าร่วมงานใหม่
                </div>
            </div>
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <a href="/admin" class="title is-size-4">
                        <span class="icon is-large">
                            <i class="fas fa-cogs fa-2x"></i>
                        </span>
                        <br>
                        <span>Admin page</span>
                    </a><br>หน้าสำหรับผู้ดูแลระบบ
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container has-text-centered">
        <h1 class="title is-size-4">Statistics</h1>
        <div class="box">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <th>กลุ่ม</th>
                    <th>จำนวนที่ลงทะเบียนเข้างานแล้ว</th>
                </thead>
                <tbody>
                    {% for key in summary.index %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ summary[key] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><strong>Total</strong></td>
                        <td>{{ summary.sum() }}</td>
                    </tr>
                    <tr>
                        <td><strong>Percent</strong></td>
                        <td>{{ summary.sum()/all_regs_count*100 }}</td>
                    </tr>
                </tbody>
            </table>
            <span class="icon">
                <i class="fas fa-history"></i>
            </span>
            <span>Last check-in {{ last_checkin.checked_at|timezoned }}</span>
        </div>
    </div>
</section>
<br>
<section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                The website is developed and maintained by Jetsweep Technology.
            </p>
            <p>
                &copy; 2019 Jetsweep.net.
            </p>
        </div>
    </footer>
</section>
{% endblock page_content %}
