{% extends "base.html" %}
{% block page_content %}
<div class="tabs">
    <ul>
        <li class="is-active"><a href="/">Home</a></li>
        <li class=""><a href="{{ url_for('scan') }}">Scan Barcode</a></li>
        <li class=""><a href="{{ url_for('list') }}">Participants</a></li>
        <li class=""><a href="/admin">Admin Page</a></li>
        <li class=""><a href="{{ url_for('add_participant') }}">Add</a></li>
    </ul>
</div>
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">ANHPERF Registration System</h1>
        <div class="columns">
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <span class="icon is-large has-text-success">
                        <i class="fas fa-barcode fa-3x"></i>
                    </span>
                    <br>
                    <a href="{{ url_for('scan') }}" class="title is-size-4 has-text-success">Scan Barcode</a>
                </div>
            </div>
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <span class="icon is-large has-text-primary">
                        <i class="far fa-address-book fa-3x"></i>
                    </span>
                    <br>
                    <a href="{{url_for('list')}}" class="title is-size-4 has-text-primary">Participant List</a>
                </div>
            </div>
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <span class="icon is-large">
                        <i class="fas fa-user-plus fa-3x"></i>
                    </span>
                    <br>
                    <a href="{{ url_for('add_participant') }}" class="title is-size-4">Add Participant</a>
                </div>
            </div>
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <span class="icon is-large has-text-danger">
                        <i class="fas fa-cogs fa-3x"></i>
                    </span>
                    <br>
                    <a href="/admin" class="title is-size-4 has-text-danger">Admin page</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock page_content %}
