{% extends "base.html" %}
{% block page_content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">ANHPERF Registration System</h1>
        <div class="columns">
            <div class="column is-one-third">
                <div class="box has-text-centered">
                    <span class="icon is-large has-text-success">
                        <i class="fas fa-barcode fa-3x"></i>
                    </span>
                    <br>
                    <a href="{{ url_for('scan') }}" class="title is-size-4 has-text-success">Scan Barcode</a>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box has-text-centered">
                    <span class="icon is-large has-text-primary">
                        <i class="far fa-address-book fa-3x"></i>
                    </span>
                    <br>
                    <a href="{{url_for('list')}}" class="title is-size-4 has-text-primary">Participant List</a>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box has-text-centered">
                    <span class="icon is-large has-text-danger">
                        <i class="fas fa-cogs fa-3x"></i>
                    </span>
                    <br>
                    <a href="" class="title is-size-4 has-text-danger">Admin page</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock page_content %}
