{% extends "base.html" %}
{% block page_content %}
<section class="section">
  <div class="container">
    <h1 class="title">ANHERF Registration System</h1>
    <div class="columns">
      <div class="column">
        <table class="table">
          <thead>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Affiliation</th>
          <th>Registered at</th>
          <th>Check in</th>
          <th>View QR code</th>
          <th>Send email</th>
          </thead>
          <tbody>
          {% for record in plist %}
          <tr>
            <td>{{record[0]}}</td>
            <td>{{ record[52] }} {{record[9]}} {{record[10]}}</td>
            <td>{{record[3]}}</td>
            <td>{{record[48]}}</td>
            <td>{{record[5]}}</td>
            <td>
              <span class="icon">
                <a data-bind="click: function(data, event) { checkin({{record[0]}},data,event) }">
                <i class="far fa-check-circle"></i>
                </a>
              </span>
            </td>
            <td>
            <span class="icon">
              <a data-bind="click: function(data, event) { changeQrImg({{record[0]}},data,event) }">
              <i class="fas fa-qrcode"></i>
              </a>
            </span>
            </td>
            <td>
              <a href="{{ url_for('send_mail', rid=record[0], email=record[3]) }}">
              <span class="icon">
                <i class="far fa-envelope"></i>
              </span>
              </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column is-one-fifth">
        <img data-bind="attr: {src: '/register/qr/' + curQrImg()}">
        <span data-bind="text: 'ID: ' + curQrImg()" class="subtitle"></span>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  var ViewModel = function() {
    var self = this;
    self.curQrImg = ko.observable({{plist[0][0]|tojson|safe}});
    self.changeQrImg = function(rid, data, event) {
      self.curQrImg(rid);
      console.log('update qr image to ' + rid);
    };
    self.checkin = function(rid, data, event) {
        $.get("{{ url_for('checkin')}}" + "/" + rid).done(function(data, status) {
            alert(data['message']);
        });
    };
  };
  var vm = new ViewModel();
  ko.applyBindings(vm);
</script>
{% endblock %}