{% extends "base.html" %}
{% block page_content %}
<section class="section">
    <div class="container">
        <h1 class="title">ANHPERF Registration System</h1>
        <div class="columns">
            <div class="column is-half">
                <div class="field">
                    <div class="control">
                        <input class="input is-rounded is-medium is-danger" type="text" data-bind="textInput: barcode"
                               placeholder="Scan barcode or enter registration code"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <table class="stripe" id="myTable">
                    <thead>
                    <th>No.</th>
                    <th>Title</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Affiliation</th>
                    <th>Role</th>
                    <th>Registered at</th>
                    <th>Payment</th>
                    <th>Check in</th>
                    <th>Manual check in</th>
                    <th>Resend email</th>
                    </thead>
                    <tbody>
                    {% for record in plist %}
                    <tr>
                        <td>{{record.id}}</td>
                        <td>{{record.title}}</td>
                        <td>{{record.firstname}}</td>
                        <td>{{record.lastname}}</td>
                        <td>{{record.faculty}} {{ record.affiliation }}</td>
                        <td>{{record.role.desc}}</td>
                        <td>{{record.registers[-1].registered_at}}</td>
                        {% if not record.registers[-1].payment_required or record.registers[-1].pay_status %}
                        <td><i class="far fa-thumbs-up has-text-success"></i></td>
                        {% else %}
                        <td><a class="button is-outlined is-rounded is-danger" href="{{ url_for('pay', rid=record.registers[-1].id) }}">Pay</a></td>
                        {% endif %}
                        <td>
                            {{record.registers[-1].checked_at}}
                        </td>
                        <td>
                            {% if record.registers[-1].payment_required and not record.registers[-1].pay_status %}
                            <span class="icon"><i class="far fa-times-circle"></i></span>
                            {% else %}
                                {% if record.registers[-1].checked_at %}
                                <span class="icon"><i class="fas fa-check-circle"></i></span>
                                {% else %}
                                <a href="{{ url_for('checkin', rid=record.registers[-1].id) }}">
                                    <span class="icon"><i class="far fa-check-circle"></i></span>
                                </a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('send_mail', rid=record.registers[-1].id, email=record.email) }}">
                              <span class="icon"><i class="far fa-envelope"></i></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    var ViewModel = function () {
        var self = this;
        self.barcode = ko.observable();
        self.barcode.subscribe(function (value) {
            if (value.length === 9) {
                window.location.href = "/checkin/" + value;
            }
        });
    }
    var vm = new ViewModel();
    ko.applyBindings(vm);
</script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable(
            {
                "order": [[8, 'desc']]
            }
        );
    });
</script>
{% endblock %}}
