{% extends "base.html" %}
{% block page_content %}
<div class="tabs">
    <ul>
        <li class=""><a href="/">Home</a></li>
        <li class="is-active"><a href="{{ url_for('scan') }}">Check In</a></li>
        <li class=""><a href="{{ url_for('list') }}">Participants</a></li>
        <li class=""><a href="{{ url_for('add_participant') }}">Register</a></li>
        <li class=""><a href="/admin">Admin Page</a></li>
    </ul>
</div>
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Participants</h1>
        <div class="columns">
            <div class="column">
                <table class="stripe" id="myTable">
                    <thead>
                    <th>Registration No.</th>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Affiliation</th>
                    <th>Payment</th>
                    <th>Checked-in time</th>
                    <th>Manual check in</th>
                    </thead>
                    <tbody>
                    {% for record in plist %}
                    <tr>
                        <td>{{ '{}{:05}'.format(2018,record.registers[-1].id) }}</td>
                        <td>
                            {% if record.title %}
                            {{record.title}}
                            {% else %}
                            {% endif %}
                        </td>
                        <td>
                            {{ record.firstname }} {{ record.lastname }}
                        </td>
                        <td>{{ record.email }}</td>
                        <td>{{record.faculty}} {{ record.affiliation }}</td>
                        {% if not record.registers[-1].payment_required or record.registers[-1].pay_status %}
                        <td><i class="far fa-thumbs-up has-text-success"></i></td>
                        {% else %}
                            {% if not record.registers[-1].pay_status %}
                            <td><a class="button is-outlined is-rounded is-danger"
                                   href="{{ url_for('pay', rid=record.registers[-1].id) }}">Pay</a></td>
                            {% endif %}
                        {% endif %}
                        <td>
                            {% if record.registers[-1].checkins %}
                                {% for chk in record.registers[-1].checkins %}
                                {{chk.checked_at|timezoned}},
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if record.registers[-1].payment_required and not record.registers[-1].pay_status %}
                            <a class="button is-rounded is-outlined is-disabled">Check in</a>
                            {% else %}
                                {% if record.registers[-1].checked_at %}
                                <span class="icon"><i class="fas fa-check-circle"></i></span>
                                {% else %}
                                <a href="{{ url_for('checkin', rid=record.registers[-1].id) }}"
                                    class="button is-outlined is-rounded is-primary">Check in
                                </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    var ViewModel = function () {
        var self = this;
        self.barcode = ko.observable();
        self.barcode.subscribe(function (value) {
            if (value.length === 9) {
                window.location.href = "/checkin/" + value;
            }
        });
    }
    var vm = new ViewModel();
    ko.applyBindings(vm);
</script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            'pageLength': 1000,
        });
    });
</script>
{% endblock %}}
