<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the ANHPERF Conference 2019</title>
</head>
<body>
<section>
    <div>
        <div>
            <h2>
                 ยินดีต้อนรับผู้ลงทะเบียนเข้าร่วมการประชุมวิชาการประจำปีระดับชาติ "การพัฒนาการศึกษาสำหรับบุคลากรด้านสุขภาพ" ครั้งที่ 6
            </h2>
            <h2>
                Welcome to the 6th Annual National Health Professional Education Reform Forum
            </h2>
        </div>
        <article>
            <div>
                <p>
                    ตามที่ท่านได้ลงทะเบียนเข้าร่วมการประชุมวิชาการประจำปีระดับชาติ การพัฒนาการศึกษาสำหรับบุคลากรด้านสุขภาพ ครั้งที่ 6 ภายใต้หัวข้อหลัก <strong>“ประกันคุณภาพเชิงสร้างสรรค์ สู่คุณภาพการศึกษา; Creative Accreditation for Better Quality Education”</strong> ระหว่างวันที่ 25-26 พฤศจิกายน 2562  ณ โรงแรม เดอะ สุโกศล กรุงเทพฯ นั้น
                </p>
                <p>
                    มูลนิธิพัฒนาการศึกษาบุคลากรสุขภาพแห่งชาติ (ศสช.) ขอส่งรหัสสำหรับผู้เข้าร่วมมายังท่าน
                </p>
                <br>
                <p>
                    According to your online registration to participate in the 6th Annual National Health Professional Education Reform Forum, that will be held under the theme of <strong>"Creative Accreditation for Better Quality Education"</strong> on 25-26 Nov, 2019 at the Sukosol Bangkok Hotel, Thailand.
                    We are sending you a personal registration barcode below
                </p>
            </div>
        </article>
        <div>
            <figure>
                <img src="{{ url_for('static', filename='barcodes/{}.png'.format(register.id), _external=True) }}">
            </figure>
        </div>
        <article>
           <div>
               <p>
                   กรุณาแสดง Barcode หรือ แจ้งชื่อ ณ จุดลงทะเบียน เพื่อรับ Badge และ คูปองทานอาหารรายวัน
               </p>
               <p>
                   ทางผู้จัดงานไม่รับผิดชอบกรณี คูปองทานอาหารสูญหาย
               </p>
               <br>
               <p>
                   ขอขอบพระคุณที่ท่านให้ความสนใจ<br>
                   หากมีข้อสงสัย กรุณาติดต่อ<br>
                   มูลนิธิพัฒนาการศึกษาบุคลากรสุขภาพแห่งชาติ (ศสช.)<br>
                   โทร 097-117-5041<br>
                   Fax 02-589-2355<br>
                   E-mail healthprofessionals21@gmail.com
               </p>
               <br>
               <p>
                   Please present the barcode at the registration to receive a name badge and a daily lunch coupon.
               </p>
               <p>
                   Please be reminded that we are not responsible for a loss of the lunch coupon.
               </p>
               <p>
                   Thank you for your interest in our forum
                   <br>
                   The Organizing Committee of the 6th Annual National Health Professional Education Reform Forum
                   <br>
                   Tel +6697-117-5041<br>
                   Fax +662-589-2355<br>
                   E-mail healthprofessionals21@gmail.com
               </p>
           </div>
        </article>
    </div>
</section>
</body>
</html>