เรียน ผู้ลงทะเบียนเข้าร่วมการประชุมวิชาการประจำปีระดับชาติ "การพัฒนาการศึกษาสำหรับบุคลากรด้านสุขภาพ" ครั้งที่ 5

ตามที่ท่านได้ลงทะเบียนเข้าร่วมการประชุมวิชาการประจำปีระดับชาติ การพัฒนาการศึกษาสำหรับบุคลากรด้านสุขภาพ ครั้งที่ 5 ภายใต้หัวข้อหลัก “ผนึกพลังภาคี ปฏิรูประบบสุขภาพ (Synergizing Partners: The key for Health Systems Reform)” ระหว่างวันที่ 12 -13 พฤศจิกายน 2561 ณ โรงแรม เซนทารา แกรนด์ และบางกอกคอนเวนชัน เซ็นเตอร์ แอท เซ็นทรัลเวิลด์ กรุงเทพฯ นั้น
ท่านสามารถชำระค่าลงทะเบียนได้ที่
ธนาคารไทยพาณิชย์ เลขที่ 016-442818-2
ชื่อบัญชี การประชุมวิชาการ การพัฒนาการศึกษาสำหรับบุคลากรด้านสุขภาพ

อัตราค่าลงทะเบียนสำหรับบุคคลทั่วไป
ชำระภายในวันที่ 31 ต.ค. 2561 ราคา 3,600 บาท
ชำระภายในวันที่ 1–5 พ.ย. 61 ราคา 4,000 บาท


อัตราค่าลงทะเบียนสำหรับนักศึกษา
ขำระภายในวันที่ 1 พ.ย. 2561 ราคา 2,000 บาท

หมายเหตุ

*ค่าลงทะเบียนเบิกจากงบประมาณต้นสังกัดได้ตามสิทธิ
**ค่าลงทะเบียน ไม่รวมค่าที่พัก ค่าเดินทาง **

กรุณาแจ้งผลการชำระค่าลงทะเบียนที่ https://goo.gl/L5efLq เมื่อขำระแล้ว

ผู้ลงทะเบียนออนไลน์และชำระค่าลงทะเบียนแล้วจะได้รับการยืนยันการเข้าร่วม พร้อม Barcode ทางอีเมล ก่อนถึงวันงาน 2 สัปดาห์ ใช้แสดง ณ จุดลงทะเบียน เพื่อเข้าร่วมงาน

ขออภัยหากชำระแล้วและขอขอบพระคุณท่านที่ให้ความสนใจ



